<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultCSVHead" value="&quot;MemberEmail&quot;,&quot;MemberFName&quot;,&quot;MemberLName&quot;,&quot;name&quot;,&quot;Create Date&quot;,&quot;account_id&quot;,&quot;Status&quot;,&quot;License&quot;,&quot;ContractLevel&quot;,&quot;LastAdminLogin&quot;,&quot;LastEmployeeLogin&quot;"/>
    <add key="LastOpenFile" value="sample.ToTango"/>

    <!-- General Section -->
    <add key="ToTangoToken" value="ab63b0d7e591ff0b8209ef9358478c4876c29787heldersepu@gmail.com"/>
    <add key="BaseConfirmUrl" value="http://sdr.totango.com/pixel.gif/?sdr_s=SP-7964-01&amp;sdr_o="/>
    <add key="HeaderFile" value="mapping.csv"/>
    <add key="OutputDirectory" value="."/>

    <!-- SQL Section -->
    <add key="SQLConnString" value="Data Source=LocalHost;Initial Catalog=EDO.DB.SRC;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add key="CopyExport2SQL" value="0"/>

    <!-- FTP Section -->
    <add key="DoFTP" value="0"/>
    <add key="FTPServer" value="127.0.0.1"/>
    <add key="FTPUserName" value="MyUserName"/>
    <add key="FTPPassword" value="SecretPassw"/>
  </appSettings>
</configuration>