<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <!--  Samples targeting only some accounts
    <add key="QueryUrl" value="https://app.totango.com/api/v1/search/accounts?query={'terms':[{'type':'string_attribute','attribute':'MemberEmail','contains':'taycorp.com'}],'count':500000,'offset':0,'fields':[],'sort_by':'name','sort_order':'DESC','scope':'all'}"/>
    <add key="QueryUrl" value="https://app.totango.com/api/v1/search/accounts?query={'terms':[{'type':'string_attribute','attribute':'ActiveUsers','exists':'false'}],'count':500000,'offset':0,'fields':[],'sort_by':'name','sort_order':'DESC','scope':'all'}" />
    <add key="QueryUrl" value="https://app.totango.com/api/v1/search/accounts?query={'terms':[{'type':'string_attribute','attribute':'MemberEmail','in_list':['lsim@jandl.com','shara@ats.com','sue@ping.com']}],'count':500000,'offset':0,'fields':[],'sort_by':'name','sort_order':'DESC','scope':'all'}" />
    <add key="QueryUrl" value="https://app.totango.com/api/v1/search/accounts?query={'terms':[{'type':'number','term':'score','eq':0},{'type':'string_attribute','attribute':'Status','in_list':['Paying']}],'count':500000,'offset':0,'fields':[],'sort_by':'name','sort_order':'DESC','scope':'all'}" />
    <add key="QueryUrl" value="https://app.totango.com/api/v1/search/accounts?query={'terms':[{'type':'active_list','is_not_in':['10136']}],'count':500000,'offset':0,'fields':[],'sort_by':'name','sort_order':'DESC','scope':'all'}" />
    -->
    <add key="QueryUrl" value="https://app.totango.com/api/v1/search/accounts?query={'terms':[],'count':500000,'offset':0,'fields':[],'sort_by':'name','sort_order':'DESC','scope':'all'}" />
    
    <!--  QA -->
    <add key="SyncUrl" value="http://sdr.totango.com/pixel.gif/?sdr_s=SP-7964-01&amp;sdr_o.ProductName=TrackSmart&amp;sdr_o=" />
    <add key="SqlConn" value="Data Source=LocalHost;Initial Catalog=DB.LOCAL;Integrated Security=True;MultipleActiveResultSets=True" />
    <add key="Token" value="ab63b0d7e591f58478c4876c29787hsepu@gmail.com" />
    
    <!--  Production
    <add key="SyncUrl" value="http://sdr.totango.com/pixel.gif/?sdr_s=SP-7236-01&amp;sdr_o.ProductName=TrackSmart&amp;sdr_o=" />    
    <add key="SqlConn" value="Data Source=PROD;Initial Catalog=DB.PROD;Integrated Security=True;MultipleActiveResultSets=True" />
    <add key="Token" value="d523921fea7cf7cfcc9e66ef1de2fbHSepu@eect.com" />
     -->
    
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>